@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

body {
    /*
    background-color: #fff;
    background-image: url("../img/empanadas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */

    background: #fff url("../img/fondo.jpg") no-repeat fixed;
    background-size: cover;
    color: white;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

header {
    font-size: 30px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    font-size: 1.2rem;
}

header, nav, footer {
    background-color: rgba(32, 30, 30, 0.871);
}
